# Project 1
In this project, I will examine and analyze New York City’s payroll expenditures on salary, overtime pay, and total compensation for municipal employees. The analysis is performed in two ways:

Using pandas to efficiently compute results such as the mean, median, and mode.

Using only Python’s built-in standard library to replicate those same calculations the “hard way,” without relying on pandas functions.

Before performing the analysis, I begin with data preparation and cleaning to ensure that all values are correctly formatted and ready for computation. This includes selecting relevant columns, converting numeric fields, and verifying there are no missing or invalid entries.

# Initialization
We first will start by initialization and calling the necessary modules for the analysis

In [2]:
import requests
import pandas as pd

Now we will use the dataset published on NYC Open Data, which contains payroll information for New York City government employees.

In [3]:

url = "https://data.cityofnewyork.us/resource/k397-673e.json?$limit=50000"

response = requests.get(url)
data = response.json()

df = pd.DataFrame(data)
df.head()

,fiscal_year,payroll_number,agency_name,last_name,first_name,agency_start_date,work_location_borough,title_description,leave_status_as_of_june_30,base_salary,pay_basis,regular_hours,regular_gross_paid,ot_hours,total_ot_paid,total_other_pay,mid_init
0,2025,67,ADMIN FOR CHILDREN'S SVCS,RAMSAROOP,BRAHASPA,1996-06-23T00:00:00.000,MANHATTAN,ADMINISTRATIVE DIRECTOR OF SOCIAL SERVICES,ACTIVE,139479.00,per Annum,1820.00,131707.45,0.00,0.00,1497.01,NaN
1,2025,67,ADMIN FOR CHILDREN'S SVCS,GABRIEL,CHRISTINE,1996-06-23T00:00:00.000,BRONX,CHILD PROTECTIVE SPECIALIST SUPERVISOR,ACTIVE,100635.00,per Annum,1820.00,97503.18,0.00,0.00,9120.44,M
2,2025,67,ADMIN FOR CHILDREN'S SVCS,FREDERIQUE,JOYCE,1996-06-23T00:00:00.000,BROOKLYN,CHILD WELFARE SPECIALIST SUPERVISOR,ACTIVE,102880.00,per Annum,1820.00,99678.63,239.50,14825.04,5054.29,NaN
3,2025,67,ADMIN FOR CHILDREN'S SVCS,GIBSON,VERNON,1996-06-23T00:00:00.000,MANHATTAN,ASSOCIATE STAFF ANALYST,CEASED,88434.00,per Annum,0.00,-1324.76,0.00,0.00,0.00,G
4,2025,67,ADMIN FOR CHILDREN'S SVCS,BLENMAN,ROBERT,1996-06-23T00:00:00.000,BROOKLYN,CHILD PROTECTIVE SPECIALIST SUPERVISOR,ACTIVE,78902.00,per Annum,1820.00,76441.54,0.00,0.00,7582.82,D

Now we need to see how many entries my dataset have, following the project requirements

In [4]:
df.shape

(50000, 17)

This shows that I have 50,000 rows and 17 Columns. Now I want to investigate each column and see if I have missing values

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   fiscal_year                 50000 non-null  object
 1   payroll_number              50000 non-null  object
 2   agency_name                 50000 non-null  object
 3   last_name                   50000 non-null  object
 4   first_name                  50000 non-null  object
 5   agency_start_date           50000 non-null  object
 6   work_location_borough       50000 non-null  object
 7   title_description           50000 non-null  object
 8   leave_status_as_of_june_30  50000 non-null  object
 9   base_salary                 50000 non-null  object
 10  pay_basis                   50000 non-null  object
 11  regular_hours               50000 non-null  object
 12  regular_gross_paid          50000 non-null  object
 13  ot_hours                    50000 non-null  object
 14  total_ot_paid               50000 non-null  object
 15  total_other_pay             50000 non-null  object
 16  mid_init                    34329 non-null  object
dtypes: object(17)
memory usage: 6.5+ MB

From the summary above, we can see that the dataset does not contain missing values (non-null count looks complete). However, the compensation-related columns are stored as object (string) types rather than numeric. To perform calculations such as mean, median, or total compensation, we must first convert these columns into numeric (float) data types.

In [7]:
df["regular_gross_paid"] = pd.to_numeric(df["regular_gross_paid"])
df["total_ot_paid"] = pd.to_numeric(df["total_ot_paid"])
df["total_other_pay"] = pd.to_numeric(df["total_other_pay"])

## Filtering
Now we have to pick the columns of interest. we will do that by creating a new dataframe for the filtered columns.

In [10]:
selected_columns = ["work_location_borough", "regular_gross_paid", "total_ot_paid", "total_other_pay"]
df_filtered = df[selected_columns]
df_filtered["total_compensation"] = (
    df_filtered["regular_gross_paid"] +
    df_filtered["total_ot_paid"] +
    df_filtered["total_other_pay"]
)
df_filtered.head()

/var/folders/xs/_cbt3vps1db1zpklk6xw48jh0000gn/T/ipykernel_33096/3193980053.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["total_compensation"] = (

,work_location_borough,regular_gross_paid,total_ot_paid,total_other_pay,total_compensation
0,MANHATTAN,131707.45,0.00,1497.01,133204.46
1,BRONX,97503.18,0.00,9120.44,106623.62
2,BROOKLYN,99678.63,14825.04,5054.29,119557.96
3,MANHATTAN,-1324.76,0.00,0.00,-1324.76
4,BROOKLYN,76441.54,0.00,7582.82,84024.36

Now we're done with the first step "Initializing", and we have created the variable of interest which is the total compensations.

# Approach 1 - Using Pandas

we will use pandas to calculate the mean, median, and mode of the dataset. Pandas provides built-in functions that allow us to compute these statistics efficiently and directly from the dataset as shown below:

In [12]:
# Mean, median, mode using pandas
mean_val = df_filtered["total_compensation"].mean()
median_val = df_filtered["total_compensation"].median()
mode_val = df_filtered["total_compensation"].mode()[0]

print("Mean:", mean_val)
print("Median:", median_val)
print("Mode:", mode_val)

Mean: 68434.93260279999
Median: 69501.33
Mode: 99979.98999999999

# Approach 2 - Using Python Standard library

Next, we will use only the Python standard library (the “hard way”) to manually calculate the same statistics (mean, median, and mode), without relying on pandas' functions.

In [13]:
# Convert the column to a list of floats
values = df_filtered["total_compensation"].tolist()

# Mean = sum / count
mean_hard = sum(values) / len(values)

print("Mean:", mean_hard)

Mean (hard way): 68434.93260279999

In [26]:
sorted_values = sorted(values)
n = len(sorted_values)

# If odd, the middle value. If even, the average of the two middle values.
if n % 2 == 1:
    median_hard = sorted_values[n // 2]
else:
    median_hard = (sorted_values[n // 2 - 1] + sorted_values[n // 2]) / 2

print("Median:", median_hard)

Median: 69501.33

In [27]:
frequency = {}   # dictionary to count occurrences

for value in values:
    frequency[value] = frequency.get(value, 0) + 1

# Return the key (value) with the highest frequency
mode_hard = max(frequency, key=frequency.get)

print("Mode:", mode_hard)

Mode: 99979.98999999999

Both approaches generate same results and good to go

# Data Visualization

In this section, we want to visualize the average total compensation for employees in each borough. Instead of using external plotting libraries, we create a simple visual chart using stars (*). Each star represents a fixed dollar amount ($5,000) of average compensation. By comparing the number of stars across boroughs, we can easily see which boroughs have higher or lower average payroll spending.

In [61]:
DOLLARS_PER_STAR = 5000

borough_means = df_filtered.groupby("work_location_borough")["total_compensation"].mean().round(2)

print("\nAverage Total Compensation by Borough (Star Chart)")
print(f"(*) = ${DOLLARS_PER_STAR:,} of average compensation\n")

for borough, avg_comp in borough_means.items():
    num_stars = int(avg_comp // DOLLARS_PER_STAR)
    bar = "*" * num_stars

    print(f"{borough:12} | {bar}   (${avg_comp:,.2f})")

Average Total Compensation by Borough (Star Chart)
(*) = $5,000 of average compensation

BRONX        | ************   ($63,471.88)
BROOKLYN     | ************   ($64,457.63)
MANHATTAN    | **************   ($73,608.46)
QUEENS       | ************   ($60,595.31)
RICHMOND     | *************   ($68,140.51)

# Conclusion
In this project, we cleaned NYC payroll data and calculated key statistics (mean, median, mode) using both pandas and pure Python. We then visualized borough-level compensation using a simple star chart, where each * represented a fixed dollar amount. Overall, the analysis highlights how compensation varies across boroughs and shows that we can explore and summarize real-world data using both built-in Python tools and pandas.